<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite" thread-count="2">
    <listeners>
        <listener class-name="testcomponents.Listener"></listener>
    </listeners>
    <test  name="Submit Order Test">
        <classes>
            <class name="tests.TestClass1"/>
        </classes>
    </test> <!-- Test -->

    <test name="Error Validations Test">
        <classes>
            <class name="tests.ErrorValidation"/>
        </classes>
    </test> <!-- Test -->
</suite>